<!--
<div class="alert alert-success">
  <h1>Angular course Elcimai</h1>
  <i class="fab fa-3x fa-angular"></i>
</div>
-->

<app-header></app-header>
<app-routersimulator></app-routersimulator>
<!--
<app-test-http></app-test-http>
-->
<hr>

<router-outlet></router-outlet>

<hr>
Footer




<!--
<app-divcolor></app-divcolor>
-->
<!--
<app-rotativecard></app-rotativecard>
-->
<!--
<app-pere></app-pere>
-->

<!--
<app-main-cv></app-main-cv>
-->

<!--
<app-ngstyle></app-ngstyle>
-->

<!--
<app-ng-class></app-ng-class>
-->
<!--
<p appHighlight>
  Test
</p>
-->

<!-- <input type="text"  appRainbow  > -->

<!--
<p>
  5 Bitcoin = {{5 | usd2btc | currency:"currencyCode" :"USD" }}
</p>
-->
<!--
<app-todo></app-todo>
-->

<!--
<app-image-observable></app-image-observable>

<app-testobservable></app-testobservable>

-->
